body {
    background: #c8deec;
    font-family: 'Helvetica Neue';
    border: solid;
    border-width: 2px;
}

h4 {
    color: #887;
}

h1 {
    font-family: 'Courier New';
}

h3 {
    font-family: 'Courier New';
}

h2 {
    font-family: 'Century Gothic'
}

h4 {
    font-family: 'Courier New';
}

a {
    font-weight: bold;
}

img {
    border: solid;
    border-color: black;
    border-width: 2px;
    height: 250px;
}