.wrapper {
    max-width: 720px;
    padding: 54px;
    font-family: "Lato";
    line-height: 1.5;
    margin: 0 auto;
    border-left: 6px solid #e2231a;
    font-weight: 100;
}




.nav-link {
    color: #dddddd;
}

.nav-link:hover {
    color: black;
}

.date {
    color: #cccccc;
}

.heading {
    color: black;
}

.font {
    font-family: 'Lato'
}

h1 {
    color: red;
}

.margin-zero{
    margin-top: 0px;
    margin-bottom: 0px;
}


ul {
    padding-left: 0px;
}

li {
    display: inline;
    padding-right: 10px;
    font-size: 20px;
}

a {
    color: #e2231a;
}

a:hover {
    color: #aa0000;
}

img {
    max-width: 720px;
    margin: 0 auto;
}

.textalign-right {
    text-align: right;
}

article {
    padding: 10px;
    margin: 10px;
    color: black;
}

.copyright{
    color: #bbbbbb;
}