body {
  font-family: "Staatliches", "cursive";
  background-image: radial-gradient(grey, darkgray, black);
  width: 90%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
.headline {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}
.header {
  display: flex;

  justify-content: space-between;
}
.nav {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  font-size: 30px;
}
.nav-links {
  margin-left: 10px;
  
  align-self: center;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: darkslategrey;
}
canvas {
  width: 80%;
}
/* .background-img{
    background-image: url("../img/roulette-wheel.png");
    background-repeat: no-repeat;
    background-position: center; 
    

} */
section{
    margin-bottom: 0px;
}
.main {
  text-align: center;
}
.red {
  background: red;
}
.black {
  background: black;
}
.green {
  background: green;
}
.button {
  font-size: 16px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 5px darkgray;
}
.bet-button {
  background: lightgrey;
  padding: 8px;
  font-size: 18px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
.winners {
  display: block;
  align-self: center;
  font-size: 40px;
}
.bet-amount {
  font-size: 20px;
  background: rgba(170, 170, 170, 0.5);
  box-shadow: 1px 1px black;
}

.last-winnings {
  display: flex;
  width: 60%;
  height: 100px;
  box-sizing: border-box;
  border: 2px solid white;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 25px;
  border-radius: 20px;
}

#first,
#second,
#third,
#fourth,
#fith {
  width: 20%;
  height: 100%;
  text-align: center;
  display: flex;
  align-content: baseline;
  justify-content: center;
  font-size: 30px;
  color: white;
}

#first,
#second,
#third,
#fourth {
  border-right: 2px dotted white;
}

.first {
  background: black;
}

.third {
  background: green;
}

#first,
#fith {
  border-radius: 10px;
}

.winners-announcment {
  text-align: center;
  display: none;
}

.win {
  -webkit-animation: winanimation 3s infinite;
  -moz-animation: winanimation 3s infinite;
  -o-animation: winanimation 3s infinite;
  animation: winanimation 3s infinite;
}

.lose {
  color: red;
}

.winlose {
  font-size: 40px;
  font-weight: bold;
}

@-webkit-keyframes winanimation {
  0% {
    color: green;
    display: inline;
  }
  65% {
    color: blue;
  }
  100% {
    color: orange;
  }
}
@-moz-keyframes winanimation {
  0% {
    color: green;
    display: inline;
  }
  65% {
    color: blue;
  }
  100% {
    color: orange;
  }
}
@-o-keyframes winanimation {
  0% {
    color: green;
    display: inline;
  }
  65% {
    color: blue;
  }
  100% {
    color: orange;
  }
}
@keyframes winanimation {
  0% {
    color: green;

    display: inline;
  }
  50% {
    color: blue;
  }
  100% {
    color: orange;
  }
}

@media only screen and (max-width: 600px) {
    .nav-links{
        font-size: 14px;
    }

    #responsive, #responsive2, #responsive3{
        font-size: 14px;
    }
}